.dicas-box{
    max-height: 200px;
    max-width: 1200px;
    margin-bottom: 50px;
}
.dicas-box > a > img{
    width: 250px;
    height: 200px;
    margin-right: 20px;
    border-radius: 5px;
}

.dicas-modelo > p{
    font-size: 25px;
    color: #252323;
    font-family: 'Dosis', sans-serif;
    padding-top: 0px;
    margin-top: 0;
}
.dicas-modelo > h2{
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 0;
}

.dicas-box > a{
    text-decoration: none;
    color: #252323;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 10px 10px 10px 10px #2523236b;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}

.dica-conteudo > img{
    border-radius: 5px;
}

.dica-conteudo > p{
    margin:20px 0px 20px 0px;
    text-align: center;
}

.dica-conteudo > ul{
    margin: 30px 0px 30px 0px;
    font-size: 25px;
    text-align: center;
    list-style: none;
    color: #78bc61;
}

.dica-conteudo > ul> li{
    text-shadow: 1px 1px #648a5744;
}

.dica-box-dicas{
    width: 1200px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 7px;
    background-color: #2523231e;
    align-items: center;
}

.dica-box-img > img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.dica-box-img{
    text-align: center;
    color:#70798c;
    font-style: italic;
    margin:0px 10px 0px 10px;
}


