body{
    font-family: 'Baloo Tammudu', cursive;
    min-height: 100vh;
}
header{
    max-width: 100%;
    margin: 0 auto;
    height: 176px;
    background-image:linear-gradient(160deg,#70798c,#758c81,#789f76,#79b268,#79b268,#789f76,#758c81,#70798c);    
}
.header-box{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width:502px;
    height: 113px;
    margin-top: 30px;
    box-sizing: border-box;
}
.menu{
    box-sizing: border-box;
    margin-top:110px;
}
.menu > .box > ul{
    list-style: none;
    display: flex;
}
.navbar-link{
    color:#252323;
    text-decoration: none;
    padding: 15px;
    font-size: 25px;
}
.navbar-link:hover{
    text-decoration: underline;
}