p{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}
main{
    min-height: calc(100vh - 352px;)
}
h2,h1{
    font-size: 45px;
    text-transform: uppercase;
}
.box{
    max-width:1200px;
    margin: 0 auto;
    padding: 0;
}
.box>h1{
    font-size: 45px;
}
.main-dica-box{
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-dica-box > img{
    width: 100%;
}
.main-destaque-box{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main-content-destaque-box{
    max-width: 600px;
    text-align: center;
}
.main-content-destaque-box > img{
    width: 424px;
    height: 282px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.main-content-destaque-box > p{
    text-align: center;
}