@media(max-width: 800px){
    font-size: 0.5em;
    
    h1,h2{
        font-size: 1em;
    }
    .em-desenvolvimento > img{
        max-width: 400px;
        max-height: 400px;
    }
}

p{
    font-family: 'Dosis', sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}
main{
    min-height: calc(100vh - 352px);
    max-width: 1200px;
    align-items: center;
}
.em-desenvolvimento{
    display: flex;
    justify-content: center;
    margin: 150px;
}
.em-desenvolvimento > img{
    opacity: 0.8;
}
h2,h1{
    font-size: 3em;
    text-transform: uppercase;
}
.box{
    width:80%;
    min-width: 400px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.main-dica-box{
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-dica-box > img{
    width: 100%;
}
.main-destaque-box{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media(max-width: 800px){
    .main-dica-box{
        align-content: center;
    }
    .main-dica-box>h2{
        text-align: center;
    }
   .main-destaque-box{
       flex-direction: column;
       align-items: center;
   }
}
.main-content-destaque-box{
    max-width: 80%;
    text-align: center;
}
.main-content-destaque-box > img{
    width: 100%;
    max-width: 424px;
    height: 282px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.main-content-destaque-box > p{
    text-align: center;
}
