.treinos-box{
    max-height: 200px;
    max-width: 1200px;
    margin-bottom: 50px;
}
.treinos-box > a > img{
    width: 250px;
    height: 200px;
    margin-right: 20px;
    border-radius: 5px;
}
.treinos-box > a{
    text-decoration: none;
    color: #252323;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 10px 10px 10px 10px #2523236b;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}
.treinos-modelo > p{
    font-size: 25px;
    color: #252323;
    font-family: 'Dosis', sans-serif;
    padding-top: 0px;
    margin-top: 0;
}
.treinos-modelo > h2{
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 0;
}
.treino-conteudo > img{
    border-radius: 5px;
    width:1200px;
    height: 853px;
}

.treino-conteudo > p{
    margin:20px 0px 20px 0px;
    text-align: center;
}
table{
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.conteudo-tabela{
    border-collapse: collapse;
    padding:15px;
}
tr:nth-child(1){
    background-color:rgba(120, 188, 97, 0.918);
    color: white;
    text-transform: uppercase;
}